# Server configuration
PORT=5001
NODE_ENV=development

# Security
JWT_SECRET=super_secret_jwt_access_token_key_change_me
JWT_REFRESH_SECRET=super_secret_jwt_refresh_token_key_change_me

# Database
DATABASE_PATH=./data/journal.db

# Mailer Configurations (SMTP)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=your_smtp_user
EMAIL_PASS=your_smtp_password
